body {
   zoom: 46%;
   width: 905px; 
  }

/*.navbar {
    width: 100%;
    height: 64px;
    opacity: 0.8;
}

.navbar-nav {
    width: 70%;
    font-size:
    right: 20%;
}*/
.navbar {
    width: 100%;
}
.nav-link {
    transform: scale(0.7);
}
#tagline{
    transform: scale(3.2);
}
.skyline{
    position: relative;
    height: 869px;
   
}
.skyline{
    position: relative;
    height: 869px;
}
.heading-about-us{   
    margin-top: 1px;
    font-size: 78px;
    text-align: center; 
}
.about-us{
    height: 1200px; 
    padding-top: 50px;
}

/* ******************************************** */
/* JOIN-US section*/
.register{
    background-color: #8872AB;
}

.register #h{
    font-size: 90%;
}

.register #name{
    font-size: 90%;
    font-weight: 600;
}

.join-heading{
    font-size: 70px;
    font-weight: 500;
    text-align: center;
}

.Hacker{
    background-color: #F2EAFF;
    border-radius: 100px;
    width: 30%;
    height: 100%;
    margin-top: 30%;
    margin-left: 3%;
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: rgba(214, 163, 244, 1) -10px -10px,
                rgba(229, 213, 255, 1) -20px 0px;
}

.Mentor{
    background-color: #D6A3F4;
    border-radius: 100px;
    width: 30%;
    height: 100%;
    margin: 5% 3% 5% 1%;
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: rgba(229, 213, 255, 1) 10px 10px,
                rgba(242, 234, 255, 1) 20px 0px;
}

.Volunteer{
    background-color: #E5D5FF;
    border-radius: 100px;
    width: 30%;
    height: 100%;
    margin-top: 30%;
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: rgba(242, 234, 255, 1) 10px -10px,
                rgba(214, 163, 244, 1) 20px 0px;
}

.btn{
    width: 95%;
    font-size: 95%;
    margin: 0% 1% 20%;
}

/* End of JOIN-US section*/
/* ******************************************** */

/* ******************************************** */
/* SCHEDULE section
.schedule-block
*/
/* End of LOCATION section*/
/* ******************************************** */


/* ******************************************** */
/* LOCATION section*/

.location .right {
    font-size: 230%;
}

/* .location . */
/* End of LOCATION section*/
/* ******************************************** */

/* Start of sponsors section
********************************************
 */

 
#sponsors {
    height: 3400px;
}

#Scotiabank-org {
    transform: scale(0.7);
    
    margin-top: 50px;
    margin-left: -155px;
    margin-right: -155px;
}

#AutoCode {
    transform: scale(0.7);
    margin-left: -300px;
}

#Lassonde{
    transform: scale(0.4);
    margin-left: -100px;
}



#BMO {
    margin-left: 10px;
    margin-right: 50px;
}


#Morningstar{
    transform: scale(0.5);
    margin-left: -150px; 
}

#Vena{
    transform: scale(0.5);
     
}

#YSpace{ 
    transform: scale(0.7);
    margin-left: -10px; 
}

#MicrosoftReactor{
    transform: scale(0.8);
    margin-left: -130px; 
}

#jet{
    transform: scale(1.1);
    margin-top: 50px;
    margin-left: -95px; 
    margin-right:30px;
}

#echo{
    transform: scale(0.5);
    margin-right: -155px; 
}



/* 
********************************************
End of sponsors section */

/* FAQ
********************************************
*/
#column-quest {
    margin-bottom: -15px;
}


