body {
   zoom: 46%;
   width: 905px; 
  }

.skyline{
    position: relative;
    height: 869px;
}
.heading-about-us{   
    margin-top: 1px;
    font-size: 78px;
    text-align: center; 
}
.about-us{
    height: 3052px; 
}
