body {
   zoom: 46%;
   width: 905px; 
  }

.skyline{
    position: relative;
    height: 869px;
}
.heading-about-us{   
    margin-top: 1px;
    font-size: 78px;
    text-align: center; 
}
.about-us{
    height: 3052px; 
}

/* ******************************************** */
/* JOIN-US section*/
.register{
    background-color: #8872AB;
}

.register #h{
    font-size: 20px;
}

.register #name{
    font-size: 20px;
    font-weight: 600;
}

.join-heading{
    font-size: 70px;
    font-weight: 500;
    text-align: center;
}

.Hacker{
    background-color: #F2EAFF;
    border-radius: 100px;
    width: 30%;
    height: 100%;
    margin-top: 30%;
    margin-left: 3%;
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: rgba(214, 163, 244, 1) -10px -10px,
                rgba(229, 213, 255, 1) -20px 0px;
}

.Mentor{
    background-color: #D6A3F4;
    border-radius: 100px;
    width: 30%;
    height: 100%;
    margin: 5% 3% 5% 1%;
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: rgba(229, 213, 255, 1) 10px 10px,
                rgba(242, 234, 255, 1) 20px 0px;
}

.Volunteer{
    background-color: #E5D5FF;
    border-radius: 100px;
    width: 30%;
    height: 100%;
    margin-top: 30%;
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: rgba(242, 234, 255, 1) 10px -10px,
                rgba(214, 163, 244, 1) 20px 0px;
}

.btn{
    width: 95%;
    font-size: 30px;
    margin: 0% 1% 20%;
}

/* End of JOIN-US section*/
/* ******************************************** */



