/* body,h1,h2,h3,h4,h5,h6 {font-family: "DM Sans", sans-serif}

body, html{ height: 100%; line-height: 1.8;}


/* NAVIGATION */
.navbar {
    position: fixed;
    background-color: #FFFFFF;
    width: 100%;
    height: 64px;
    opacity: 0.8;
}

.nav-img {
    position: absolute;
    width: 59px;
    left: 17px;
    top: 2px;
}

.navbar-nav {
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    width: 917px;
    height: 32px;
    right: 15px;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1.1px;
    text-align: center;
}

.nav-link {
    color: #8872AB;
}

.navbar .nav-link:active {
    color: #000;
}

.skyline{
    position: absolute;
    width: 100%;
    height: 869px; 
    background: #E5D5FF;
}

.outline{
    position: absolute;
    width: 100%;
    height: 30%;
    left: -0.15px;
    top: 600px;
    filter: invert();
    mix-blend-mode: darken;
}

/* HEADING */
.heading-ellehacks{
    position:absolute;
    width: 953px;
    left: 25%;
    top: 190px; 
    font-style: normal;
    font-weight: 600;
    font-size: 110px;
    line-height: 145px;
    letter-spacing: 1.1px;
    word-spacing: normal;
    text-align: center;
    line-height: 80px; 
    color: #000000;
}

/*TAGLINE*/
#tagline{
    font-size: 20px;
}

#dateloc{
    position: absolute;
    width: 394px;
    top: 320px;
    left: 25%;

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: center;

    color: #000000;
}


/* COUNTDOWN*/
#countdown {
    position: relative;
    width: 290px;
    height: 74px;
    top: 45px;
    left: 30%;
    border-radius: 500px;
    background-color: #8872AB;

}

#timer {
    position: absolute;
    left: 22px;
    top: 10px;
    width: 240px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: table;

  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 58px;
  text-align: center;

  color: #FFFFFF;
}

/* SOCIAL MEDIA ICONS */
.social-icons{
    width: 860px;
    line-height: 120px;
}

.icon{
    color: #000000;
    text-decoration: none;
    box-shadow: none;

}

/*ABOUT US SECTION*/
.about-us{
   
    width: 100%;
    height: 3052px; 
    background: linear-gradient(#E5D5FF, white);
}
.heading-about-us{
    
    margin-top: 870px;
    font-size: 78px;
    text-align: center; 
}

.about-quote{

    text-align: center;
    color: #300c6b;
    align-items:flex-start;
}

#girls-who{
    display:inline;
    font-size: 50px;
   
}

#CODE{
    display: inline; 
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    font-size: 50px;
    color: #300c6b;
    font-weight: 600;
}
#write-future{
    display:inline; 
    font-size: 50px;
}

#p3 {

    margin: 10px;
    padding: 50px;
    font-style: normal;
    border-bottom: solid white;
    font-size: 30px;
    text-align: center;

    color: #000000;
}
.meet-heading{
    font-size: 78px;
    text-align: center;
}
.team
{
    padding: 50px;
    width: 100%;
    margin: 0 auto;

    font-family: 'DM Sans';
    color:black;
}

.team-heading
{

    display: inline;
    font-size: 85px;	
    margin: 5px;
    width: 50%;
    text-align: left;
    word-spacing: -0.1em;	
    letter-spacing: -0.03em;
}

	
.backslash-purple {	
    color: #8872AB;	
}

/*flex properties*/
.grid
{
    display: flex;
    margin: 0 auto;
}

.co-chairs
{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 600px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.executives
{
    display: flex;
    margin: 0 auto;
}

.lms-exe
{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 570px;
    margin-left: 0px;
}

.IT-exe
{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 570px;
    margin-right: 0px;
}

.sponsor-exe
{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
}

.team-member
{
    margin: 8px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    text-align: center;
    
}

.team-member:hover
{
    box-shadow: 4px 4px 20px 0 rgb(0, 0, 0 , 40%), -4px -4px 20px 0 rgba(164, 145, 194, 80%);
}


/* Images */
.image
{
    width: 150px;
    height: 150px;
}
.team-img
{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    /* border: solid #8872AB; */
    border-bottom: solid 5px #8872AB;
    
}

.team-img-fun
{
    display: none;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    /* border: solid #8872AB; */
    border-bottom: solid 5px #8872AB;}

.image:hover .team-img-fun
{
    display: inline;
    margin: 1px;
}
.image:hover .team-img
{
    display: none;
    margin: 1px;
}



/* Name and title */
.team-name
{
    color: black;
    font-style: normal;
    text-align: center;
    margin-bottom: 0;

}

.team-title
{
    color: black;
    font-style: normal;
    text-align: center;
    margin-top: 4px;
}

.team-member h4 {
    display: block;
    font-size: 16px;
    margin-block-start: 1.33em;
    /* margin-block-end: 1.33em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/*JOIN US*/
.join-heading{
    font-size: 78px;
    text-align: center; 
    
}
.register{
    /* background-color: #8872AB; */
    height: 1000px;
    
}
.row{
    text-align: center;
    /* background-color: aqua; */
}
.Hacker{
  
    background-color:#F2EAFF;
    opacity: 0.6;
    height: 800px; 
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1)
 -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
 transition: 0.3s;
}
.Hacker:hover{
    background-color:#F2EAFF;
    opacity: 1;
    
}
.Mentor{    
    background-color: #D6A3F4;
    opacity: 0.6;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
.Mentor:hover{
    background-color: #D6A3F4;
    opacity: 1;
    
}

.Volunteer{
    background-color: #E5D5FF;
    opacity: 0.6;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.Volunteer:hover{
    background-color: #E5D5FF;
    opacity: 1;
}
#h{
    font-size: 30px;
}

.btn{

    width: 281px;
    height: 74px;
    top:450px;
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 16px;
    border-color: #000000;    
    font-family:'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
}
.btn:hover{
    background-color: purple; 
    color: white; 

}

/* @Luana @Hasti
  FAQ page
*/

.FAQ
{

  width: 100%;
  margin: 0 auto;
 
  position: relative;
}

/* @Luana 
  big h1 in with "FAQ" written;
*/

#FAQ-section{
  text-align: center;
  background-color: #FFFFFF;
  width: 100%;
  
}

#FAQ-section h1{ 
  display: inline;
  font-size: 85px;
  margin: 5px;
  margin-left: 100px;
  width: 50%;
  text-align: left;
  word-spacing: -0.1em;
  letter-spacing: -0.03em;
  /* text-align: centr;
  color: #9747FF; */
  margin-bottom: 50px;
  position: relative;
}



/* @Luana 
  two sides of the faq
*/
#column-quest{
  float: left;
  width: 40%;
  padding:0% 5%;
  display: block;
  position: relative;
} 

@media (max-width: 1000px) {

  #column-quest {
    float: left;
    width: 100%;
    padding:0% 5%;
    display: block;
    
  } 
}

/* @Luana 
  horizontal grey line
*/
.accordion-header hr{
  border:  solid #8872AB 2px;
  opacity: 0.5;
  margin-top: 1px;
  margin-bottom: 10px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  transform: rotate(-0.46deg);
}
/* @Luana 
  summary = questions from the faq
  formating bellow
*/
.accordion-header {	  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: black;
  letter-spacing: -0.015em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  /* color: #9747FF; */
  width: 100%;
  display: block;
  list-style: none;
  transform: scaleX(-1);
  position:relative;
}

.accordion-header p{
  overflow: hidden;
  transform: scaleX(-1);
  margin-top: 30px;
  margin-bottom: 5px;
}
/* @Luana 
  details = ans from the faq
  formating bellow
*/
#quest-box.container { 
  box-shadow:0 0 20px #ffffff;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.015em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #8872AB;
  opacity: 1;
  margin-bottom: 20px;

}
 .collapsing p , .collapse.show p {
  margin-left: 15px;
 }

 .collapse p a{	
  color: #8872AB;
}

/* @Luana 
  add + and - animation
*/


.accordion-header::before { 
    content:"+"; 
    color: #8872AB;
    float: left;
    font-size: 30px;
    transform: scaleX(-1);    
}
.accordion-header[aria-expanded="true"]::before {
    content:"-"; 
    color: #8872AB;
    float: left;
    font-size: 30px;
    transform: scaleX(-1);
}
/* FAQ section ends */
/* ******************************************** */

/* Sponsor section starts */
#sponsors {
    position: absolute;
    width: 100%;
    
    height: 2034px;

    background: linear-gradient(rgba(255,255,255,1) 40%, rgba(136,114,171,1) 100%);
}

.sponsors-title {
    position: absolute;
    width: 715px;
    height: 110px;
    left: 26px;
    top: 13px;
    padding-top:5%;
    
}

.sponsors-title h1{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 64px;
    color: #000000;
}

.sponsors-container {
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
    height: 100%;
    top: 120px;
}

.sponsors-container h3 {
    position: inherit;
    margin-top:70px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 64px;
    color: #8872AB;
}

.sponsors-list {
    align-items: center;
    margin: 16px 0;
}

.gold {
    display: inline-block;
    margin: 0 100px;
}

.gold img {
    width: auto;
    height: 250px;
}

.silver {
    display: inline-block;
    margin: 0 100px;
}

.silver img {
    width: auto;
    height: 250px;
}

.bronze-sponsors h3 {
    color: #FFFFFF;
}

.bronze {
    display: inline-block;
    margin: 3em 100px;
}

.bronze img {
    width: auto;
    height: 150px;
}

.community-sponsors h3 {
    color: #FFFFFF;
}

.community {
    display: inline-block;
    margin: 0 100px;
}

.community img {
    width: auto;
    height: 150px;
}
/* Sponsor section ends */

/* ******************************************** */

/* @Anusha home location/contact us container */

.contact{
    position: relative;
    background-color:  rgba(136,114,171,1) ;
    margin-top: 2030px; 
}

.location-heading{
    font-size: 78px;
    text-align: center; 
    color: white; 
}
#ellehacks{
    color: white; 
}
#dates{
    color: white; 
    font-size: 30px;;
}
#building{
    color: white; 
}
.map{
    text-align: center;
 
   
}
#linkmap{
  box-shadow: inset 0 0 0 0 rgba(136,114,171,1);
  color: #ffffff;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  
}

.mlh{
    margin-right: 90px;
    padding-right: 50px;   
}

#linkmap:hover{
    color: #fff;
    box-shadow: inset 200px 0 0 0 rgba(136,114,171,1) ;
}
#db{
    
    border: 1px solid black; 
}
#map{
    border: 1px solid black; 
}

.bottom{
   width:100%; 
   text-align: center;
   line-height: 120px;
   padding-left: 10px;
} 